@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONTS  */
@font-face {
  font-family: "Cabinet";
  src: local("clashDisplay"), url("../public/fonts/CabinetGrotesk-Regular.otf") format("opentype") 
}
@font-face {
  font-family: "Cabinet-bold";
  src: local("clashDisplay"), url("../public/fonts/CabinetGrotesk-Bold.otf") format("opentype") 
}
@font-face {
  font-family: "Cabinet-medium";
  src: local("clashDisplay"), url("../public/fonts/CabinetGrotesk-Medium.otf") format("opentype") 
}

html {
font-family: Cabinet;
scroll-behavior: smooth;
}


.react-multiple-carousel__arrow::before {
  font-size:13px;
  color:black;
}

.react-multiple-carousel__arrow{
  background: rgb(255, 255, 255, 0.5);
}
.react-multiple-carousel__arrow:hover{
  background: white;
}